n8n/config/workflows/alert-triage.json
{
  "name": "LABSOC - Alert Triage Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-alert",
      "name": "Alert Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event.severity }}",
              "operation": "equals",
              "value2": "high"
            }
          ]
        }
      },
      "id": "check-severity",
      "name": "Check Severity",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://intelowl/api/analyze_observable",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "observable_name",
              "value": "={{ $json.source.ip }}"
            },
            {
              "name": "observable_classification",
              "value": "ip"
            },
            {
              "name": "analyzers_requested",
              "value": "[\"AbuseIPDB\", \"VirusTotal_v3_Get_Observable\", \"OTX_Check_IP\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "intelowl-analyze",
      "name": "IntelOwl Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://elasticsearch:9200/labsoc-enriched/_doc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ ...($json), 'enrichment': { 'intelowl_job_id': $('IntelOwl Analysis').json.job_id, 'timestamp': new Date().toISOString() } }) }}",
        "options": {}
      },
      "id": "store-enriched",
      "name": "Store Enriched Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { 'status': 'processed', 'job_id': $('IntelOwl Analysis').json.job_id } }}"
      },
      "id": "respond-high",
      "name": "Respond High Priority",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { 'status': 'logged', 'priority': 'low' } }}"
      },
      "id": "respond-low",
      "name": "Respond Low Priority",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 400]
    }
  ],
  "connections": {
    "Alert Webhook": {
      "main": [
        [
          {
            "node": "Check Severity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Severity": {
      "main": [
        [
          {
            "node": "IntelOwl Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Low Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IntelOwl Analysis": {
      "main": [
        [
          {
            "node": "Store Enriched Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Enriched Alert": {
      "main": [
        [
          {
            "node": "Respond High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["labsoc", "alerts", "triage"],
  "triggerCount": 0,
  "updatedAt": "2026-02-17T00:00:00.000Z",
  "versionId": "1"
}
